<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Insider QA Test Suite" verbose="1" parallel="false">
    <!-- Test 1: End-to-End Test (Main test for interview) -->
    <test name="End-to-End QA Jobs Test">
        <classes>
            <class name="com.insider.tests.InsiderEndToEndTest"/>
        </classes>
    </test>
</suite>